#cart {
    width: 100%;
    text-align: center;
}

.product-list {
    width: 85%;
    display: inline-block;
    border-collapse: collapse;
}

.product-list td, .product-list th {
    text-align: center;
    vertical-align: middle;
    padding: 4pt;
}

.product-list td {
    border: 1px solid black;
}

.product-list .product-id {
    text-align: right;
}

.product-list .product-image {
    width: 80pt;
    padding: 0;
}

.product-list .product-image img {
    width: 100%;
}

.product-list .product-title {
    text-align: left;
}

.product-list input[name^="amount"] {
    text-align: center;
    width: 20pt;
}

.product-list .update-button {
    text-align: left;
    border: 0;
}

.product-list .total-price th {
    text-align: right;
}

.product-list .total-price td span {
    text-decoration: underline;
    border-bottom: 1px solid black;
}