@import url("product.css");
@import url("category.css");

#frontpage {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

#on-sale, #new-releases, #preorders {
    clear: both;
    display: inline-block;
}