    div.registratieformulier {
    width: 250pt;
    }
    div.wachtwoord-vergeten {
    width: 280pt;       
    }
    div.inlogformulier {
    width: 200pt;
    }
    div.rechtsboven {
    width: 100pt;
    }