#ItemName{
	width:100%;
	background-color:pink;
	height:20pt;
	text-align:center;
}
#ItemCover{
	width:100%;
}
#ItemCover img{
	width:90%;
	border:10px solid black; 
}

#ItemCoverContainer{
    margin-left:0.5cm;
	width:20%;
	float:left;
}

#AddSubmitButton{
    background-image:url("images/labels/Add2Cart.png");
    height:53px;
    width:161px;
}

#ItemDescription{
	width:100%;
	float:left;
}

#SystemRequirements{
	margin-left:0.5cm;
	margin-top:0.5cm;
	width:20%;
	float:left;
}

#Prijs{
	text-align:right;
}

#Quotes{
	margin-left:0.5cm;
	float:left;
	width:20%;
}

#game-description-en-prijs{
	margin-left:0.5cm;
	width:25%;
	float:left;
}



.SystemRequirementsTable{
	border-collapse:collapse;
}

.SystemRequirementsTable table, th, td{
	border: 1pt solid blue;
}

.ItemDescriptionContainer h4{
	background-color:cyan;
}

