#ItemName{
	width:100%;
	background-color:pink;
	height:20pt;
	text-align:center;
}
#ItemCover{
	position:absolute;
	margin-left:0.5cm;
	left:0cm;
	width:5cm;
}
#ItemCover img{
	width:4.5cm;
	border:10px solid black; 
}

#ItemDescription{
	width:5cm;
}

#SystemRequirements{
	width:4cm;
	position:absolute;
	left:16cm;
}

#Prijs{
	text-align:right;
}

#Quotes{
	position:absolute;
	left:11.5cm;
	margin-left:0cm;
	margin-right:0.5cm;
	width:4cm;
}

#game-description-en-prijs{
	width:5cm;
	position:absolute;
	margin-left:0.5cm;
	margin-right:0.5cm;
	left:5.5cm;
}
.SystemRequirementsTable{
	border-collapse:collapse;
}

.SystemRequirementsTable table, th, td{
	border: 1pt solid blue;
}

.ItemDescriptionContainer{
	overflow:auto;
}
.ItemDescriptionContainer h4{
	background-color:cyan;
}