#ItemName{
	width:100%;
	background-color:pink;
	height:20pt;
	text-align:center;
}
#ItemCover{
	width:100%;
}
#ItemCover img{
	width:90%;
	border:10px solid black; 
}

#ItemCoverContainer{
    margin-left:0.5cm;
	width:20%;
	/*float:left;*/
    display:table-cell;
}

#AddSubmitButton{
    background-image:url("images/labels/Add2Cart.png");
    height:53px;
    width:161px;
}

#DeleteSubmitButton{    
    background-image:url("images/labels/delete.png");
    height:83px;
    width:85px;
    background-repeat:no-repeat;
    background-size:100%;
}

#ItemDescription{
	width:100%;
	/*float:left;*/
    display:table-cell;
}

#SystemRequirements{
	margin-left:0.5cm;
	margin-top:0.5cm;
	width:20%;
	/*float:left;*/
    display:table-cell;
}

#Prijs{
	text-align:right;
}

#Quotes{
	margin-left:0.5cm;
	/*float:left;*/
	width:20%;
    display:table-cell;
}

#game-description-en-prijs{
	margin-left:0.5cm;
	min-width:25%;
    max-width:70%;
    display:table-cell;
	/*float:left;*/
}

#variablewidth{
    display:table;
}

.SystemRequirementsTable{
	border-collapse:collapse;
}

.SystemRequirementsTable table, th, td{
	border: 1pt solid blue;
}

.ItemDescriptionContainer h4{
	background-color:cyan;
}

.buffer{
    display:table-cell;
    width:1%;
}
.header{
    height: 0.8cm;
    width:100%;
    border-top-left-radius: 0.4cm;
    border-bottom-left-radius: 0.4cm;
    padding-left: 0.25cm;
    line-height: 0.7cm;
    color: #FFFFFF;
    background-color:#08C1FF;
}
