html {
    overflow: scroll;
    font-family: Lucida Sans Unicode, Century Gothic, Futura;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

#mainWindow {
    height : 100%;
    width : 25cm;
    margin-left : auto;
    margin-right : auto
}

#banner {
    height : 10%;
    width : 100%;
    
}

#logo {
    float : left;
    width : 40em;
}
    
#dashboard {
    float : left;
}


#contentWindow {
    width : 100%;
    overflow : auto;
}

#sidebar {
    float : left;
    width : 5cm;
}

#content {
    overflow : hidden;
}

#content a {
  text-decoration: none;
  color: black;
}
