html {
    overflow: scroll;
    font-family: Lucida Sans Unicode, Century Gothic, Futura;
    background-color: #fdfde8;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

#mainWindow {
    height : 100%;
    width : 25cm;
    margin-left : auto;
    margin-right : auto
}

/* 
 * The upper window
 */

#banner {
    height : 2.5cm;
    width : 100%;
    
}

/* The logo */ 
 
#logo {
    float : left;
    width : 20cm;
}

/* The dashboard */
    
#dashboard {
    float : left;
}

/* 
 * The main window
 */

#contentWindow {
    width : 100%;
    overflow : auto;
}

/* Sidebar */

#sidebar {
    float : left;
    width : 5cm;
}

.clickable-item {
    padding-left: 0.5cm;
    color: #000000;
}

.clickable-item:hover {
    background: #00B3FF;
    color: #FFFFFF;
}

/* Content window */

#content {
    position : relative;
    overflow : hidden;
}

#content h1 {
  font-size: 1.8em;
}

#content a {
  text-decoration: none;
  color: black;
}
