html {
    overflow: scroll;
    font-family: Lucida Sans Unicode, Century Gothic, Futura;
    background-color: #FFFFFF;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

a {
    color: black;
    text-decoration: none;
}

#mainWindow {
    margin-top: 10pt;
    height : auto;
    width : 25.5cm;
    margin-left : auto;
    margin-right : auto;
}


/*
 *  Useful for vertical centering
 */
 
.vcenter-container {
    display: table;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

/* 
 * The upper window
 */

#banner {
    height : 2.5cm;
    width : 100%; 
    background: #08C1FF;
    border-radius: 15px;
    padding: 0.2cm;
}

/* The logo */ 
 
#logo {
    margin-left: 0.25cm;
    float : left;
    height: 100%;
}

#logo:hover{
	cursor:pointer;
}

#logo img{
    height: 2cm;
    margin-top: 1em;
}

/* The dashboard */
    
#dashboard {
    float : right;
    border-radius: 15px;

    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 6pt;
    padding-right: 6pt;
    /*margin-right: 10pt; */
}

#dashboard a {
    padding: 2pt;
}

/* 
 * The main window
 */

#contentWindow {
    width : 100%;
    overflow : auto;
}

/* Sidebar */

#sidebar {
    float : left;
    width : 5cm;
    margin-right: 0.5cm;
    background-color: #ffffff;
    margin-top: 0.4cm;
    padding-bottom: 5pt;
}

#account-opties {
    float: left;
}

#ww-dash{
    margin-top: auto;
    margin-bottom: auto;
    width: 56px;
    height: 54px;
    background-image: url('images/labels/cart.png');
    float: right;
    opacity: 0.5;
}

#ww-dash:hover{
    cursor: pointer;
}

#ww-content {
    opacity: 1.0;
}


#sidebar div {
    height: 0.8cm;
    border-top-left-radius: 0.4cm;
    border-bottom-left-radius: 0.4cm;
    padding-left: 0.25cm;
    line-height: 0.7cm;
    color: #000000;
}


.clickable-item:hover {
    background: #D4D2D2;
    cursor: pointer;
}

/* Content window */

#content {
    margin-top: 0.4cm;
    border-radius: 20px;
    background: #F0F0F0;
    position : relative;
    overflow : hidden;
    padding: 10px;
}

#content h1 {
  font-size: 1.8em;
}

#reg-log{
	float:left;
}

#acc-mand{
	float:left;
    margin-left:0.1cm;
}

.center{
  text-align:center;
}

.red_line{
  border-style: groove; border-color:red; border-width:7px; 
}

/*
 * Contactformulier en Over Ons:
 */
.right_allign{
    text-allign:right
}

.centered-container {
    width: 100%;
    text-align: center;
}

.centered-container div {
    display: inline-block;
}

.center{
  text-align: center;
}

.displayed{
  display:block; margin-left:auto; margin-right:auto;
}

.text a {
    color: #0204A6;
    font-weight: bold;
}

