html {
    overflow: scroll;
    font-family: Lucida Sans Unicode, Century Gothic, Futura;
    background-color: #ffffff;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

#mainWindow {
    height : 100%;
    width : 25.5cm;
    margin-left : auto;
    margin-right : auto
}

/*
 *  Useful for vertical centering
 */
 
.vcenter-container {
    display: table;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

/* 
 * The upper window
 */

#banner {
    height : 2.5cm;
    width : 100%; 
    background: #08C1FF;
}

/* The logo */ 
 
#logo {
    margin-left: 0.25cm;
    float : left;
    height: 100%;
}

#logo:hover{
	cursor:pointer;
}

#logo img{
    height: 1.7cm;
    margin-top: 1em;
}

/* The dashboard */
    
#dashboard {
    border: 3px;
    border-style: solid;
    border-color: #08C1FF;
    float : right;
    height: 100%;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

#dashboard a{
}

/* 
 * The main window
 */

#contentWindow {
    width : 100%;
    overflow : auto;
}

/* Sidebar */

#sidebar {
    float : left;
    width : 5cm;
    margin-right: 0.5cm;
    background-color: #ffffff;
    margin-top: 0.4cm;
    padding-bottom: 5pt;
}

.clickable-item {
    padding-left: 0.25cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    color: #000000;
}

.clickable-item:hover {
    background: #B8B2B2;
    cursor: pointer;
}

.test {
    background: #08C1FF;
    color: #FFFFFF;
    font-style: bold;
}
    

/* Content window */

#content {
    position : relative;
    overflow : hidden;
}

#content h1 {
  font-size: 1.8em;
}

#content a {
  text-decoration: none;
  color: black;
}

#reg-log{
	float:left;
}

#acc-mand{
	float:left;
    margin-left:0.1cm;
}
