html {
    overflow: scroll;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

a {
    color: black;
    text-decoration: none;
}

#mainWindow {
    padding-top: 10pt;
    height : auto;
    width : 25.5cm;
    margin-left : auto;
    margin-right : auto;
}


/*
 *  Useful for vertical centering
 */
 
.vcenter-container {
    display: table;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

/*
 *  And horizontal
 */
 
.centered-container {
    width: 100%;
    text-align: center;
}

.centered-container div {
    display: inline-block;
}

/* 
 * The top and bottom banners
 */

.banner {
    width: 100%; 
    background: #08C1FF;
    border-radius: 15px;
    padding: 0.2cm;
    display: table;
}

#footer {
    background: rgb(86, 212, 255);
    text-align: center;
}

#footer a {
    float: right;
    margin-left: 4px;
    border: 0;
}

#footer img {
    width: 88px;
    height: 32px;
    display: block;
}

/* The logo */ 
 
#logo {
    padding-left: 0.25cm;
    height: 100%;
    width : 80px;
}

#logo:hover{
	cursor:pointer;
}

#logo img{
    height: 2cm;
    display: block;
}

/* The slogan */

#slogan {
    width: 380px;
    text-align: center;
    height: auto;
    position: relative;
    left: 64pt;
}

/* The dashboard */
    
#dashboard {
    float : right;
    border-radius: 15px;
    background: #FFFFFF;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 6pt;
    padding-right: 6pt;
}

#dashboard input {
    width: auto;
    margin-top: 3px;
}

#ww-dash {
    width: 50px;
    height: 46px;
    background-image: url('images/labels/cart.png');
    float: right;
    opacity: 0.5;
    margin-left: 3px;
    padding: 3px;
}

#account-opties {
    float: left;
    font-size: 0.85em;
    margin-right: 4px;
    text-align: right;
}

/* 
 * The main window
 */

#contentWindow {
    width : 100%;
}

/* Sidebar */
#searchcontainer{
    width:100%;
}
#searchbutton{
	background-image:url('images/labels/search.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:20px;
	heigth:20px;
    float:left;
}

#searchbar{
    float:left;
    width:75%;
}
#sidebar {
    float : left;
    width : 5cm;
    margin-right: 0.5cm;
    background-color: #ffffff;
    margin-top: 0.4cm;
    padding-bottom: 5pt;
}

#sidebar div {
    height: 0.8cm;
    border-top-left-radius: 0.4cm;
    border-bottom-left-radius: 0.4cm;
    padding-left: 0.25cm;
    line-height: 0.7cm;
    color: #000000;
}

.clickable-item:hover {
    cursor: pointer;
}

#sidebar .clickable-item:hover {
    background: #D4D2D2;
}

/* Content window */

#content {
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
    border-radius: 20px;
    background: #F0F0F0;
    position : relative;
    overflow : hidden;
    padding: 10px;
}

#content h1 {
  font-size: 1.8em;
}

#reg-log{
	float:left;
}

#acc-mand{
	float:left;
    margin-left:0.1cm;
}

.center{
  text-align:center;
}

.red_line{
  border-style: groove; border-color:red; border-width:7px; 
}

/*
 * Contactformulier en Over Ons:
 */
.right_allign {
    text-align: right;
}

.center {
  text-align: center;
}

.displayed {
  display:block; margin-left:auto; margin-right:auto;
}

.text a {
    color: #0204A6;
    font-weight: bold;
}

