html {
    overflow: scroll;
    font-family: Lucida Sans Unicode, Century Gothic, Futura;
    background-color: #fdfde8;
}

html, body {
    margin : 0;
    height : 100%;
    width : 100%;
}

#mainWindow {
    height : 100%;
    width : 25.5cm;
    margin-left : auto;
    margin-right : auto
}

/*
 *  Useful for vertical centering
 */
 
.vcenter-container {
    display: table;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

/* 
 * The upper window
 */

#banner {
    height : 2.5cm;
    width : 100%; 
}

/* The logo */ 
 
#logo {
    float : left;
}

#logo img{
    height:2.5cm;
}

/* The dashboard */
    
#dashboard {
    float : right;
}

#dashboard a{
    margin-right: 10pt;
}

/* 
 * The main window
 */

#contentWindow {
    width : 100%;
    overflow : auto;
}

/* Sidebar */

#sidebar {
    float : left;
    width : 5cm;
    margin-right: 0.5cm;
    background-color: #fcfce0;
    margin-top: 0.4cm;
    padding-bottom: 5pt;
}

.clickable-item {
    padding-left: 0.25cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    color: #000000;
}

.clickable-item:hover {
    cursor: pointer;
    background: #FF0000;
    color: #FFFB00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Content window */

#content {
    position : relative;
    overflow : hidden;
}

#content h1 {
  font-size: 1.8em;
}

#content a {
  text-decoration: none;
  color: black;
}

#reg-log{
	float:left;
}

#acc-mand{
	float:left;
    margin-left:0.1cm;
}
