.product-list {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-collapse: collapse;
}

.product-list td, .product-list th {
    text-align: center;
    vertical-align: middle;
    padding: 4pt;
}

.product-list td:not(.payment-status) {
    border: 1px solid black;
    background-color: #fefefe;
}

.product-list .remove-button {
    width: 20pt;
    background-image: url("images/labels/error-label.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.product-list .product-id {
    text-align: right;
}

.product-list .product-image {
    width: 80pt;
    padding: 0;
}

.product-list .product-image img {
    width: 100%;
    display: block;
}

.product-list .product-title {
    text-align: left;
}

.product-list .product-amount {
    text-align: center;
    width: 20pt;
}

.product-list .payment-status {
    text-align: left;
}

.product-list .bottom-row td, th {
    vertical-align: top;
}

.product-list .bottom-row th {
    text-align: right;
}

.product-list .bottom-row td span {
    text-decoration: underline;
    border-bottom: 1px solid black;
}