.DeleteSubmitButton{    
    background-image:url("images/labels/delete.png");
    height:20px;
    width:21px;
    background-repeat:no-repeat;
    background-size:100%;
}

.ProductEdit{    
    background-image:url("images/labels/edit.png");
    height:20px;
    width:21px;
    background-repeat:no-repeat;
    background-size:100%;
}

#BeheerContainer{
    overflow:scroll;
}

.cover{
    width:80pt;
    
}

.cover img{
    width:100%;
}

.column{
    text-align:center;
}

.column > input:last-of-type{
    margin-right:20px;
}